body {
  font-family: sans-serif;
}

#viewportView {
  margin-left:250px;
  width:800px;
}

.svg-play {
  height: 200px;
  border: 1px blue dashed;
}
.fretbusy {
  background: pink;
  width: max-content;
}
.bar  { 
  stroke: grey; 
  stroke-width: 2
}

.line { 
  stroke: grey;
  stroke-width: 2
}
.line:link { 
  stroke: lightgreen;
  stroke-width: 2;
}
.line:visited { 
  stroke: lightgreen;
  stroke-width: 2;
}
.line:hover { 
  stroke: red; 
  stroke-width:5;
}
.line:active { 
  stroke: lightgreen;
  stroke-width: 2;
}
.activeline { 
  stroke: lightgreen;
  stroke-width: 2
}
.activeline:link { 
  stroke: lightgreen;
  stroke-width: 2
}
.activeline:visited { 
  stroke: lightgreen;
  stroke-width: 2
}
.activeline:hover { 
  stroke: lightgreen;
  stroke-width: 2
}
.activeline:active { 
  stroke: lightgreen;
  stroke-width: 2
}
.visible {
  visibility: visible;
}
.not-visible {
  visibility: hidden;
}